#traffic-light {
  width: 70px;
  height: 240px;
  background: #222;
  border-radius: 7px;
  margin: auto;
}

.light {
  opacity: 0;
  display: inline-block;
  width: 70px;
  height: 70px;
  margin-bottom: 4px;
  margin-top: 4px;
  border-radius: 30px;
}

.red {
  background: red;
}
.yellow {
  background: yellow;
}
.green {
  background: green;
}
